/* Estilos del Footer */
@import '../base/mapas';

footer {
    .bg-color-footer {
        background-color: map-get($footer, bg-color);
        height: 100%;
    }
    .img-logo {
        width: 45px;
        height: 60px;
    }
    .texto-footer {
        color: map-get($footer, txt-footer);
        padding-left: 10px;
    }
    .ls-style {
        list-style-type: map-get($footer, ls-style);
    }
    a {
        text-decoration: map-get($footer, a-decoration);
        &:hover {
            opacity: 0.5;
        }
    }
    .img-footer {
        width: 40px;
    }
    .img-redes-footer {
        width: 45px;
    }
}
/* Fin estilos del footer */