/* Estilos Header */
@import '../base/variables';

body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    .bg-color {
        background-color: $color-principal;
    }
    .img-logo {
        width: 45px;
        height: 60px;
    }
    h1 {
        color: $color-textos;
    }
}

/* Fin estilos Header */