@import '../base/mapas';

%titulos-secundarios {
    font-size: map-get($font-sizes, fs-2);
    display: flex;
    justify-content: center;
    padding-top: map-get($spacers, p-4);
    padding-bottom: map-get($spacers, p-4);
}

%productos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

%productos-txt {
    font-size: map-get($font-sizes, fs-6);
    text-align: center;
    padding-top: map-get($spacers, p-3);
}


.title-sec {
    @extend %titulos-secundarios;
}

.box-products {
    @extend %productos;
}

.txt-products {
    @extend %productos-txt;
}