$header: (
    bg-color: hsl(0, 70%, 50%),
    txt-header: #FFF,
);

$footer: (
    bg-color: hsl(0, 1%, 21%),
    txt-footer: #FFF,
    ls-style: none,
    a-decoration: none,
);

$pre-footer: (
    bg-color: hsl(0, 5%, 85%),
    decoration: none,
    txt-pre-footer: #000,
);